<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>rmrcibmob</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UFSProjectConfig</key>
	<dict>
		<key>backgroundBundleName</key>
		<string></string>
		<key>bundles</key>
		<dict>
			<key>rating</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>y</key>
					<integer>6</integer>
					<key>x</key>
					<integer>24</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>140</integer>
					<key>width</key>
					<integer>220</integer>
				</dict>
				<key>path</key>
				<string>artifacts/bundles/Rating/</string>
				<key>type</key>
				<string>widget</string>
			</dict>
			<key>team</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>y</key>
					<string>6</string>
					<key>x</key>
					<integer>16</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>240</integer>
					<key>height</key>
					<integer>140</integer>
				</dict>
				<key>type</key>
				<string>widget</string>
				<key>path</key>
				<string>artifacts/bundles/Team/</string>
			</dict>
			<key>notice</key>
			<dict>
				<key>path</key>
				<string>artifacts/bundles/Notice/</string>
				<key>type</key>
				<string>widget</string>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>450</integer>
					<key>height</key>
					<integer>300</integer>
				</dict>
				<key>origin</key>
				<dict>
					<key>y</key>
					<integer>18</integer>
					<key>x</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>news</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>y</key>
					<integer>15</integer>
					<key>x</key>
					<integer>0</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>370</integer>
					<key>width</key>
					<integer>460</integer>
				</dict>
				<key>type</key>
				<string>widget</string>
				<key>path</key>
				<string>artifacts/bundles/News/</string>
			</dict>
			<key>planner</key>
			<dict>
				<key>size</key>
				<dict>
					<key>width</key>
					<integer>460</integer>
					<key>height</key>
					<integer>330</integer>
				</dict>
				<key>type</key>
				<string>widget</string>
				<key>path</key>
				<string>artifacts/bundles/Planner/</string>
				<key>origin</key>
				<dict>
					<key>y</key>
					<integer>0</integer>
					<key>x</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>rkmcib</key>
			<dict>
				<key>icon</key>
				<string>user</string>
				<key>path</key>
				<string>artifacts/bundles/Rkmcib/</string>
			</dict>
			<key>kpi</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>x</key>
					<integer>16</integer>
					<key>y</key>
					<integer>0</integer>
				</dict>
				<key>path</key>
				<string>artifacts/bundles/KPI/</string>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>140</integer>
					<key>width</key>
					<integer>450</integer>
				</dict>
				<key>type</key>
				<string>widget</string>
			</dict>
			<key>pipeline</key>
			<dict>
				<key>origin</key>
				<dict>
					<key>y</key>
					<integer>12</integer>
					<key>x</key>
					<integer>16</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>height</key>
					<integer>140</integer>
					<key>width</key>
					<integer>450</integer>
				</dict>
				<key>path</key>
				<string>artifacts/bundles/Pipeline/</string>
				<key>type</key>
				<string>widget</string>
			</dict>
		</dict>
		<key>devMode</key>
		<dict>
			<key>devBundleNameList</key>
			<array>
				<string>rkmcib</string>
			</array>
			<key>devModeEnabled</key>
			<true/>
			<key>devWidgetBundleNameList</key>
			<array>
				<string>rating</string>
				<string>team</string>
				<string>notice</string>
				<string>news</string>
				<string>planner</string>
				<string>kpi</string>
				<string>pipeline</string>
			</array>
		</dict>
		<key>entryModule</key>
		<dict>
			<key>authenticationURL</key>
			<string>https://demo1112802.mockable.io</string>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>UFSSplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
